.highlighted {
    background: greenyellow;
    box-shadow: 4px 4px 2px greenyellow ,
    4px -4px 2px greenyellow ,
    -4px 4px 2px greenyellow ,
    -4px -4x 2px greenyellow;
  }
  .search-result{
    margin-top: 10px;
    padding: 20px;
    background: var(--white);
    border-radius: 5px;
  }
  .search-result h4 a ,.search-result h6 a{
    text-decoration: none;
  }
  .search-result h4 a{
    color: var(--dark);
  }
  .search-result h6 a{
    color: var(--dark);
  }
  .search-result:hover  {
    background:var(--sky-light);
  }
  h2 span{
   color: greenyellow;
  }
  h2{
   color: var(--blue);
   margin-left: 5px;
   padding: 5px;
  }
  @media (max-width:440px){
    .search-result{
      margin: 5px;
      padding: 5px;
    }
    h2{
      font-size: 18px;
    }
  }