
.bizkimiz {
    display: flex;
    justify-content: space-between;
}

.text {
    width: 70%;
    padding: 10px;
    background: var(--white);
    color: var(--gray);
    margin-top: 10px;

}

.text p {
    font-size: 18px;
}

.text img {
    width: 100%;
    border-radius: 7px;
}

.details {
    width: 29%;
    margin-top: 10px;
    background: var(--sky-light);
}
.form-div {
    padding: 10px;
}
.form-div form button {
    background: var(--btn-color);
    border: none;
}
.form-div form button:hover {
    background: var(--btn-hover);
    border: none;
}

.form-div-head {
    font-size: 14px;
    opacity: 0.6;
    margin: 10px;
}

@media (max-width: 440px) {
    .bizkimiz {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .text {
        width: 100%;
        padding: 15px;
        margin-top: 0px;

    }

    .details {
        width: 100%;
        margin-top: 0px;
    }
}