.iletisim{
display: flex;
justify-content: space-between;
}
.iletisim-text{
    padding: 20px;
    width: 70%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
background: var(--white);

}
@media (max-width: 990px){
    .iletisim{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }  
        .iletisim-text{
            width: 100%;
            margin-top: 10px;
            
            align-items: center;
        } 
}