.main-div {
 display: flex;
 justify-content: space-between;
}

.adding {
 width: 38%;
}

.adding-head {
 font-size: 24px;
 font-weight: 600;
 -webkit-background-clip: text;
 background-clip: text;
 color: transparent;
 background-image: linear-gradient(to right, #199db2, rgb(124, 235, 124));
}

.showing {
 width: 58%;
 background: var(--sky-light);
}

.showing h4 {
 color: var(--dark);
 text-align: center;
 margin-top: 10px;
}

.item {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 15px;
 border-top: 3px solid #f3f0f0;
 color: var(--dark);
 padding-left: 20px;
}

.item span:nth-child(2) {
 cursor: pointer;
 color: red;
}

@media (max-width: 940px) {
 .main-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }

 .adding {
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;
 }

 .showing {
  width: 100%;
 }

 .showing h4 {
  text-align: center;
  margin-top: 10px;
 }

 .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-top: 3px solid #f3f0f0;
  padding-left: 20px;
 }

 .item span:nth-child(2) {
  cursor: pointer;
  color: red;
 }
}

/* News updates */

.news-panel {
 display: flex;
 justify-content: space-between;

}

.news-upload-panel {
 width: 40%;
}

.panel-showing {
 width: 58%;
}

.choose-file {
 background: green;
 padding: 10px;
 color: #ffffff;
 font-size: 18px;
 font-weight: 600;
 cursor: pointer;
}

.upload-file-btn {
 height: 47px;
 background: #199db2;
 color: #ffff;
 font-size: 18px;
 font-weight: 600;
 border: none;
 outline: none;
 margin-bottom: 30px;

}

.img-before-upload {
 margin: 10px;
}

.image-uploaded {
 color: rgb(59, 197, 59);
 font-size: 18px;
 margin: 10px;
 font-weight: 600;
}

.img-before-upload img {
 width: 200px;
}

.content-panel {
 display: flex;
 flex-direction: column;
 background: #5555551f;
 padding: 10px;
 margin: 10px;
 width: 100%;

}

.content-img-panel {
 display: flex;
 justify-content: space-between;
 align-items: center;

}

.content-img-panel img {
 width: 200PX;
 margin-right: 20px;
}

.content-img-panel span {
 margin: 20px;
 cursor: pointer;
}

.content-title-panel {
 color: var(--dark);
 font-size: 18px;
 font-weight: 500;
}

.content-date-panel {
 color: green;
 font-size: 12px;
}

.content-desc-panel {
 margin-top: 10px;
 font-size: 14px;
 color: gray;
}

@media (max-width: 940px) {
 .news-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


 }

 .news-upload-panel {
  width: 90%;
  margin: auto;
 }

 .panel-showing {
  width: 96%;
 }

 .choose-file {
  background: green;
  padding: 11px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;

 }

 .upload-file-btn {
  height: 46px;
  padding: 11px;
  background: blue;
  color: #ffffffe5;
  font-size: 16px;
  font-weight: 600;
  border: none;
  outline: none;

 }

 .img-before-upload {
  margin: 10px;
 }

 .image-uploaded {
  color: rgb(59, 197, 59);
  font-size: 18px;
  margin: 10px;
  font-weight: 600;
 }

 .img-before-upload img {
  width: 200px;
 }

 .content-panel {
  display: flex;
  flex-direction: column;
  background: #9beaf06c;
  padding: 10px;
  margin: 0px;
  margin-top: 10px;
 }

 .content-img-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

 }

 .content-img-panel img {
  width: 100%;
  margin-right: 0px;
  border-radius: 5px;
 }

 

 .content-date-panel {
  color: green;
  font-size: 12px;
 }

 .content-desc-panel {
  margin-top: 10px;
  font-size: 14px;
 }
}


/* messages */
.message-container {
 padding: 20px;
}

.message {
 margin: 30px;
 padding: 10px;
 border-radius: 5px;
 box-shadow: 1px 1px 1px var(--dark), -1px -1px 1px var(--dark);

}

.name-email {
 display: flex;
 justify-content: space-between;
 background: #c5d3d5;
 padding: 10px;
 border-radius: 5px;
}
.name-email span{
 cursor: pointer;
}

.name {
 color: red;
 font-size: 17px;
 font-weight: 600;
}

.email {
 color: green;
 font-size: 17px;
 font-weight: 600;
}

.message-text {
 margin-top: 10px;
 color: var(--dark);
}


.email span {
 color: #555;
}

.name span {
 color: #555;

}
@media (max-width: 940px){
    .message-container {
        padding: 5px;
       }
       
       .message {
        margin: 5px;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.1), -1px -1px 1px rgb(0, 0, 0, 0.1);
       
       }
       .name {
        color: red;
        font-size: 14px;
        font-weight: 600;
       }
       
       .email {
        color: green;
        font-size: 14px;
        font-weight: 600;
       }
}

/* neler yaptik */
.panel-showing-neler {
 width: 50%;
}

.content-img-panel-neler {
 width: 100%;
 display: flex;
 flex-wrap: wrap;

}

.content-img-panel-neler img {
 width: 250px;
 margin: 5px;
 border-radius: 5px;

}

.content-date-panel-neler {
 display: flex;
 justify-content: space-between;
 color: green;
}

.content-date-panel-neler span:nth-child(2) {
 cursor: pointer;
}

@media (max-width: 940px) {
 .panel-showing-neler {
  width: 100%;
 }

 .content-img-panel-neler img {
  width: 100%;
  margin: 5px 0 5px 0;


 }

 .content-img-panel-neler {
  width: 100%;
  display: flex;
  margin: 5px 0 5px;

 }
}


/* control panel navbar */
.nav-link-custom {
 color: var(--dark);
 font-weight: bold;
}

.nav-link-custom:hover,
.nav-link-custom:focus,
.nav-link-custom:active {
 color: var(--dark);
 text-decoration: none;
}

.nav-link-custom.active {
 background: #199db2;
 color: #ffffff;
 border-radius: 7px;
}