.footer-div-main {
    background: var(--white);
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1),-2px -2px 5px rgba(0, 0, 0, 0.1);
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-list {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}

.footer-list a {
    text-decoration: none;
    padding: 10px;
    color: var(--dark);
    transition: 0.2s ease-in-out;
    font-weight: 500;

}
.footer-list a:hover {
   transform: scale(1.1);
   color: #333;


}

.footer-mid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 30px;
    width: 50%;
}

.footer-search {
    width: 100%;
}

.social {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.social a {
    text-decoration: none;
    font-size: 40px;
}
.copyright {
    display: flex;
    justify-content: space-between;
    background: var(--silber-dark);
    color: var(--dark);
    font-weight: 600;
    font-size: 14px;
    border-top: 1px solid #eff;
}
.copyright-copyright {
    margin-right: 50px;
    margin: 10px;
}
.programmed {
    margin-left: 50px;
    margin: 10px;
}
@media (max-width: 990px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer-list a:hover {
        transform: scale(1);
        color: #333;
}

    .footer-div-main {
        margin-top: 0px;
        margin-bottom: 0px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .footer-mid {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 10px;
        width: 100%;
    }

    .footer-search {
        width: 90%;
        margin-bottom: 20px;

    }

    .social {
        width: 100%;
        display: flex;
        justify-content: space-around;

    }

    .social a {
        font-size: 26px;
        margin-bottom: 20px;

    }
}